<a href="https://colab.research.google.com/github/appurajk/Assessments/blob/main/Dictionaries%26Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dictionaries

In [ ]:
# Hotel dictionary for key and room number
register = {
    "A" : 100,
    "B" : 105,
    "Z" : 700
}

In [ ]:
print(type(register))

<class 'dict'>

In [ ]:
# Find room number for a key ( Get )

print(register["A"])

101

In [ ]:
# New customer enters hotel ( Add )

register["H"] = 605
print(register)

# No order of data
# No indexes

{'A': 100, 'B': 105, 'Z': 700, 'H': 605}

In [ ]:
# Customer changes room ( Modify )

register["A"] = 101
print(register)

{'A': 101, 'B': 105, 'Z': 700, 'H': 605}

In [ ]:
# Customer wants duplicate key ( Unique keys, Duplicate values )

register["M"] = 101
print(register)

# Different keys can have the same value

# One key can not refer to two values
# Not possible
# {
#     A: 100,
#     A: 101
# }

{'A': 101, 'B': 105, 'Z': 700, 'H': 605, 'M': 101}

In [ ]:
# Guest is leaving hotel ( Delete )

# Doesn't return value
del register["B"]
print(register)

# Returns value
room_n = register.pop("H")
print(room_n, register)

{'A': 101, 'Z': 700, 'H': 605, 'M': 101}
605 {'A': 101, 'Z': 700, 'M': 101}

In [ ]:
# Check if key assigned to a room ( Key in dict )

print("B" in register)
print("M" in register)

False
True

In [ ]:
# Quiz 1

A = {
  2 : 3,
  1 : 2,
  0 : 1
}
print(A[0]-A[2])


# A[0] -> 1
# For key 0, room number is 1
# A[2] -> 3
# For key 2, room number is 3
# A[0] - A[2] = 1 - 3 = -2

#### Iterating over a dictionary

In [ ]:
print(register)

{'A': 101, 'Z': 700, 'M': 101}

In [ ]:
# Approach 1 -> Iterate over keys

for key in register.keys() :
  print(key, end = ' ')

A Z M

In [ ]:
# Approach 2 -> Iterate over values

for value in register.values() :
  print(value, end = ' ')

101 700 101

In [ ]:
# Approach 3 -> Iterate over key, value pairs

for key, value in register.items() :
  print(key, value)

A 101
Z 700
M 101

In [ ]:
# string -> int
# int -> int

random = {
    "Aarnav": 25,
    12.3: True,
    1: (3, 4)
}

print(random)
print(len(random))

{'Aarnav': 25, 12.3: True, 1: (3, 4)}
3

In [ ]:
# Q1 : Find the frequency of vowels in the sentence
# Note - string is in small case

# Input : "hello guys ! my name is aarnav. i'm 25 years old."
# Output :
# {
#   'a': 5,
#   'e': 3,
#   'i': 2,
#   'o': 2,
#   'u': 1
# }

s = input()
freq = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

# Hint
# freq['a'] = freq['a'] + 1
# print(freq['a'])

for c in s :
  # check if character is vowel
  if c in freq :
    # c is a vowel
    # increase frequency of c in map by 1
    freq[c] = freq[c] + 1

print(freq)

hello guys ! my name is aarnav. i'm 25 years old.
{'a': 5, 'e': 3, 'i': 2, 'o': 2, 'u': 1}

In [ ]:
# Q2 : Find the frequency of all characters in the sentence
# Try this question :)
# Note - string is in small case

# Input : "hello guys ! my name is aarnav. i'm 25 years old."

s = input()
freq = {}

# c = 'h'
# freq['h'] = freq['h'] + 1
for c in s :
  if c.isalpha() :
    if c in freq :
      # if c already in map, increase frequency by 1
      freq[c] = freq[c] + 1
    else :
      # else add c to the map
      freq[c] = 1

print(freq)

# "hehe"
# freq = {}
# {'h': 1}
# {'h': 1, 'e': 1}
# {'h': 2, 'e': 1}
# {'h': 2, 'e': 2}

hello guys ! my name is aarnav. i'm 25 years old.
{'h': 1, 'e': 3, 'l': 3, 'o': 2, 'g': 1, 'u': 1, 'y': 3, 's': 3, 'm': 3, 'n': 2, 'a': 5, 'i': 2, 'r': 2, 'v': 1, 'd': 1}

### Sets

In [ ]:
A = {}
print(type(A))

<class 'dict'>

In [ ]:
# All items in set are unique
st = set()
print(type(st))
print(len(st))

<class 'set'>
0

In [ ]:
# Adding elements

A = set()

A.add(1)
A.add(2)
A.add(3)
A.add(3)
A.add(3)
print(A)

{1, 2, 3}

In [ ]:
# Check if element in set

print(1 in A)
print(-1 in A)

True
False

In [ ]:
# Delete an item

A.remove(1)
print(A)

### Set specific operations

In [ ]:
A = {1, 7, 3, 5, 9}
B = {7, 6, 2, 9, 4, -1}

In [ ]:
# Union

print(A.union(B))
print(B.union(A))

{1, 2, 3, 4, 5, 6, 7, 9, -1}
{1, 2, 3, 4, 5, 6, 7, 9, -1}

In [ ]:
# Intersection

print(A.intersection(B))
print(B.intersection(A))

{9, 7}
{9, 7}

In [ ]:
# Difference

print(A-B)
print(B-A)

{1, 3, 5}
{2, 4, 6, -1}

In [ ]:
# Iteration

for item in A :
  print(item, end = ' ')

1 3 5 7 9

In [ ]:
# Quiz

L = [1,1,2,1,2,1,5,4,3,2,1,8,4,1,2]
S = set(L)
print(S)

{1, 2, 3, 4, 5, 8}

In [ ]:
# Number of customers

# Q - Given a list of customer ids who made purchases in a day,
# find the # of unique customers who made a purchase

# customers = [3, 9, 10, 2, 3, 3, 10, 1]
# ans -> 5

customers = [3, 9, 10, 2, 3, 3, 10, 1]
uniques = set(customers)
print(len(uniques))

5