<a href="https://colab.research.google.com/github/appurajk/Assessments/blob/main/Operators_%26_Control_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Expression
- Operators
- Operands
  - Operators + Operands = Expression

In [ ]:
## Recap Quiz

# 5, 7 -> operands
# + -> operator
# 5 + 7 -> expression

## Arithmetic Operators
- Addition
- Subtraction
- Division
- Multiplication
- mod (%)
- Floor division (//)
- To the power (**)

In [ ]:
### These operators allow us to perform arithmetic operations in Python.

a = 8
b = 5

# addition
add = a + b
# 8 + 5 = 13

# subtration
sub = a - b
# 8 - 5 = 3

# multiply
mul = a * b
# 8 * 5 = 40

# divide
div = a / b
# 8 / 5 = 1.6

print(add, sub, mul, div)

13 3 40 1.6

In [ ]:
print(13%5)
print(5/2)
print(5//2)
print(2**4)

3
2.5
2
16

### Comparison Operators
- == (True if equal)
- != (True if not equal)
- < (Less than) & > (Greater than)
- <= (Less than or equal to) & >= (Greater than or equal to)

In [ ]:
# Comparison operators can be used to compare values in mathematical
# terms.

# == it will give true of both values are same else a False
print(2 == 2)
print(3 == 2)

True
False

In [ ]:
# != not equal
print(3 != 2)

True

In [ ]:
# < and >
print(2 < 3)
print(3 > 3)

True
False

In [ ]:
## <= and >=

print(2 <= 3)
print(3 <= 3)
print(2 >= 3)
print(6 <= 5)

True
True
False
False

### Compound Assignment Operators
 -= , += , /= , *= , //=

In [ ]:
a = 3
a = a + 2
print(a)

5

In [ ]:
# Increments the variable value by the given value
a += 2 # same as a = a + 2
print(a)

7

In [ ]:
a -= 2 # same as a = a - 2
print(a)

5

In [ ]:
a = 3
a *= 3 # a = a * 3
print(a)

9

In [ ]:
a = 10
a //= 5 # a = a//5
print(a)

2

In [ ]:
a = 10
a %= 3
print(a)

1

In [ ]:
a = 2
a **= 4
print(a)

16

### Logical Operators
- and
- or
- not

In [ ]:
# Logical expressions are formed using Booleans and logical operators.

In [ ]:
# and

# Condition A
# Condition B

# If A and B are true, then true otherwise false

'''
A B Result
T T T
T F F
F T F
F F F
'''

print(True and True)
print(False and True)

True
False

In [ ]:
# or

# Condition A
# Condition B

# If A or B is true, then true otherwise false

'''
A B Result
T T T
T F T
F T T
F F F
'''

print(True or False)
print(False or False)

True
False

In [ ]:
# not

# Condition A

# If A is true then false and vice-versa

'''
A Result
T F
F T
'''

print(not True)
print(not False)

False
True

In [ ]:
# Quiz 1
print(True and (not False))

# Quiz 2
print(10 <= 8)

True
False

In [ ]:
# Quiz 3
# print( '1' < 2 ) error
print( 1 < 1.35 )
print( True == 1 )
print( True == 5 )

True
True
False

Break - 10:10pm

### Conditional Statements

In [ ]:
# Take the age of a person as input, print whether they're eligible to vote
# age = 21, Eligible
# age = 15, Not eligible

age = int(input())
if age >= 18 :
  print("Eligible")
else :
  print("Not eligible")

10
Not eligible

There are three types of conditional statements in Python:
- if
- if-else
- if-elif-else

In [ ]:
weather = input()
if weather == "rainy":
  # this block of code will execute only when condition is True
  print("Take an umbrella")
  print("Take a raincoat")

print("Always be happy!")

sunny
Always be happy!

In [ ]:
weather = input()
if weather == "rainy":
  # this block of code will execute only when condition is True
  print("Take an umbrella")
else:
  # this block of code will execute only when condition is False
  print("Go enjoy outside")

autumn
Go enjoy outside

### if - elif - else
The if-else statement handles two sides of the same condition: True and False.

This works very
well if we’re working with a problem that only has two outcomes. However, in programming, it
isn’t always a True or False scenario, and a problem can have multiple outcomes.

In [ ]:
## Challenge: Traffic light

light = input()

if light == 'Green' :
  print("Go")
elif light == 'Yellow' :
  print("Warning")
else :
  print("Stop")

Yellow
Warning

In [ ]:
# Given 2 integers A and B as input, print whether A is bigger or B is bigger or they're equal
# A=4, B=6 : 6 is bigger
# A=9, B=6 : 9 is bigger
# A=3, B=3 : Equal

A = int(input())
B = int(input())
if A > B :
  print(A, "is bigger")
elif B > A :
  print(B, "is bigger")
else :
  print("Equal")

3
3
Equal

Take user input marks and print the grade

A for more than 90

B for 81 to 90

C for 71 to 80

D for 70 and less

else print "Invalid Marks"

Note : Marks are between 0 and 100 ( inclusive )

In [ ]:
marks = int(input())

if 91 <= marks <= 100 :
  print("A")
elif 81 <= marks <= 90 :
  print("B")
elif 71 <= marks <= 80 :
  print("C")
elif 0 <= marks <= 70 :
  print("D")
else :
  print("Invalid")

93
A