<a href="https://colab.research.google.com/github/appurajk/Assessments/blob/main/Strings2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge
- Given a string as input, print it 3 times without any space. (can't use a loop)
- Input: "India"
- Ouput: "IndiaIndiaIndia"

In [ ]:
# Quiz

In [ ]:
print( "India" * 3 )

IndiaIndiaIndia

In [ ]:
# String concatenation

In [ ]:
# +, *

In [ ]:
print( "India" + "India" + "India" )

IndiaIndiaIndia

In [ ]:
# The sigma way to print the pattern:

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [ ]:
# Quiz

In [ ]:
n = 5

for i in range(n) :
  for j in range(n) :
    print('#', end=' ')
  print()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [ ]:
for j in range(n) :
    print('#', end=' ')

print('\n---------')

print('# ' * n)

# # # # #
---------
# # # # #

In [ ]:
for row in range(n) :
  print('# ' * n)

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [ ]:
# Print this pattern
# N = 4

#
# #
# # #
# # # #

In [ ]:
for row in range(n) :
  print('# ' * (row+1))

#
# #
# # #
# # # #
# # # # #

In [ ]:
# Print this pattern
# N = 4

# # # #
# # #
# #
#

In [ ]:
for row in range(n) :
  print('# ' * (n-row))

# # # # #
# # # #
# # #
# #
#

In [ ]:
for row in range(n, 0, -1) :
  print('# ' * row)

# # # # #
# # # #
# # #
# #
#

# Formatted strings

In [ ]:
name = "Emma Watson"
age = 32

In [ ]:
print("Hey my name is ", name, ", and age is ", age, ".", sep="")

Hey my name is Emma Watson, and age is 32.

In [ ]:
# 1st method

In [ ]:
# format

In [ ]:
print("Hey my name is {}, and age is {}.".format(name, age))

Hey my name is Emma Watson, and age is 32.

In [ ]:
print("Hey my name is {}, and age is {}.".format(age))

IndexError: ignored

In [ ]:
# latest way of writing formatted strings
# Following is aplicable in python 3.6 and above

In [ ]:
# 2nd Method

In [ ]:
# F - String

In [ ]:
print(f"My name is {name}, and my age is {age}")

My name is Emma Watson, and my age is 32

## Challenge:
- Given a string as input, count the no of upper case characters

In [ ]:
s = "Aarnav Jindal"
# What is the answer ?

# Hint: 'A' -> 65 and 'Z' -> 90

In [ ]:
cnt = 0

for ch in s :
  ascii = ord(ch)
  if 65 <= ascii <= 90 :
    cnt += 1

print(f"Upper case characters in {s} are {cnt}")

Upper case characters in Aarnav Jindal are 2

In [ ]:
# isupper -> Tells whether character is upper case
print('a'.isupper())
print('A'.isupper())

False
True

In [ ]:
cnt = 0

for ch in s :
  if ch.isupper() :
    cnt += 1
print(cnt)

2

## Challenge:
- Convert the string to lower case.
- Input: "INdiA" Output: "india"

In [ ]:
# Hint: 'a' -> 97, 'z' -> 122

In [ ]:
# 'A' -> 65
# 'a' -> 97
# Add 32 to upper-case ASCII to get lower-case character

In [ ]:
s = "INdiA"

ans = ""
for ch in s :
  if ch.isupper() :
    ascii = ord(ch)
    new_ch = chr(ascii + 32)
    ans = ans + new_ch
  else :
    ans = ans + ch

print(ans)

india

In [ ]:
print(s.lower())

india

In [ ]:
# isupper(), islower()
# upper(), lower()

In [ ]:
# Break - 10pm

# In operator in Strings

In [ ]:
s = "Aarnav Jindal"

print("a" in s)
print("in" in s)
print("ji" in s)

True
True
False

#### Join and Split

In [ ]:
# quiz

In [ ]:
# split function

In [ ]:
s = "1 2 3 4"
print(s.split())

['1', '2', '3', '4']

In [ ]:
s = "I am doing great!"
print(s.split())
print(s.split("a"))

['I', 'am', 'doing', 'great!']
['I ', 'm doing gre', 't!']

In [ ]:
# join function

In [ ]:
words = s.split()
print(words)

['I', 'am', 'doing', 'great!']

In [ ]:
print("_".join(words))

I_am_doing_great!

In [ ]:
print("-_-".join(words))

I-_-am-_-doing-_-great!

#### Challenge
Write the code for a Python function expand(x) that takes a list of strings, concatenates them, and returns the resulting string repeated three times.

Example 1:

Input: ['string1', 'string2']

Output: 'string1string2string1string2string1string2'

Example 2:

Input: ['a', 'b', 'c']

Output: 'abcabcabc'

In [ ]:
def expand(ls) :
  s = "".join(ls)
  s = s * 3
  return s

In [ ]:
print(expand(['string1', 'string2']))
print(expand(['a', 'b', 'c']))

string1string2string1string2string1string2
abcabcabc

In [ ]:
## Check if a string is purely alphabetic?
# 1. "RahulJanghu"
# 2. "Rahul Janghu"
# 3. "RahulJanghu01"

In [ ]:
"RahulJanghu".isalpha()

True

In [ ]:
"Rahul Janghu".isalpha()

False

In [ ]:
"RahulJanghu01".isalpha()

False

In [ ]:
print("1".isdigit())
print(".2".isdigit())
print('a'.isdigit())

True
False
False

In [ ]:
# join
# isalpha
# isdigit
# islower
# isupper
# isspace
# lower
# upper

In [ ]:
print(" ".isspace())
print("1".isspace())

True
False

### List comprehension

In [ ]:
# Given an integer N as input, create a list with elements from 0 to N-1

In [ ]:
ls = []
n = 5

for num in range(n) :
  ls.append(num)

print(ls)

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(n)))

[0, 1, 2, 3, 4]

In [ ]:
# Given an integer N as input, create a list with square of elements from 1 to N
# Input : 3
# Output : [1, 4, 9]

In [ ]:
n = 4

ls = []

for i in range(1, n+1) :
  ls.append(i**2)

print(ls)

[1, 4, 9, 16]

In [ ]:
ls = [i for i in range(n)]
print(ls)

[0, 1, 2, 3]

In [ ]:
ls = [i**2 for i in range(n)]
print(ls)

[0, 1, 4, 9]

In [ ]:
# 1. Find the largest, let's say mx
# 2. Iterate over the list again
#     a. Check if the current value is less than mx and greater than current max
#     b. If yes, update current max

ls = [1, 2, 3, 3, 4, 2, 1]
mx = max(ls)

assumed_mx = float("-inf")
for val in ls :
  if val < mx and val > assumed_mx :
    assumed_mx = val

print(assumed_mx)

3

In [ ]:
# hackerank -> Learn Python section, Learn DSA ( Very easy, Easy )