<a href="https://colab.research.google.com/github/appurajk/Assessments/blob/main/Tuples_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples
- Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.

- Tuples are defined by specifying items separated by commas within an optional pair of parentheses.

- Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used will **not change**.

In [ ]:
# The intern at NASA

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planets[2] = "Zombie"
print(type(planets))
print(planets)

<class 'list'>
['Mercury', 'Venus', 'Zombie', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
planets_t = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
print(type(planets_t))
print(planets_t)

<class 'tuple'>
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')

In [ ]:
planets_t[2] = "Zombie"

TypeError: ignored

In [ ]:
# indexing

In [ ]:
print(planets_t[2])

Earth

In [ ]:
print(planets_t[-1])

Neptune

In [ ]:
# Making tuples

In [ ]:
# Making empty tuple

# Approach 1
t1 = tuple()
print(type(t1), t1)

# Approach 2
t2 = ()
print(type(t2), t2)

<class 'tuple'> ()
<class 'tuple'> ()

In [ ]:
# Making tuple with 1 item

t = ("Rahul")
print(type(t), t)
# (1+1) = 2
# (2) = 2
# ("Rahul") = "Rahul"

t3 = ("Rahul",)
print(type(t3), t3, len(t3))

<class 'str'> Rahul
<class 'tuple'> ('Rahul',) 1

In [ ]:
# tuple to list

In [ ]:
t = (1, 2, 3)
print(t, type(t))

l = list(t)
print(l, type(l))

(1, 2, 3) <class 'tuple'>
[1, 2, 3] <class 'list'>

In [ ]:
# list to tuple

In [ ]:
l = [1, 2, 3]
print(l, type(l))

t = tuple(l)
print(t, type(t))

[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

In [ ]:
# Iterating over a tuple
# Note - Tuple is an iterable

In [ ]:
for item in t :
  print(item, end = ' ')

1 2 3

In [ ]:
for index in range(len(t)) :
  print(t[index], end = ' ')

1 2 3

In [ ]:
matrix = (
  (1, 2, 3),
  (4, 5, 6),
  (7, 8, 9)
)

print(type(matrix))

<class 'tuple'>

# Intro to 'Strings'
- Inbuilt Functions:
- len
- capitalize
- title
- count
- replace
- split

In [ ]:
# len -> Gives the length of the string

In [ ]:
s = 'Aarnav Jindal'
print(len(s))

13

In [ ]:
# quiz

In [ ]:
city = "Phoenix"
# 'Hello' * 3 = 'HelloHelloHello'
print(len(city*3))

21

In [ ]:
# capitalize -> converts first letter of all string to upper-case

In [ ]:
s = 'aarnav jindal'
print(s.capitalize())

Aarnav jindal

In [ ]:
# title -> converts first letter of all words to upper-case

In [ ]:
s = 'aarnav jindal'
print(s.title())

Aarnav Jindal

In [ ]:
# count -> find count of any string in original string

In [ ]:
s = 'aarnav jindal'

print(s.count('a'))
print(s.count('na'))

4
1

In [ ]:
# replace(old, new) -> replace old string with new string in original string

In [ ]:
s = 'aarnav jindal'
print(s.replace('aa', 'A'))

Arnav jindal

In [ ]:
# split -> splits the string into a list about the separator

In [ ]:
s = 'Today is my 25th birthday !'
print(s.split())
print(s.split('a'))

['Today', 'is', 'my', '25th', 'birthday', '!']
['Tod', 'y is my 25th birthd', 'y !']

## Challenge 1:
- Take a string as input and print all the characters in a newline.
- Input: "India"
- Output:
- I
- n
- d
- i
- a

In [ ]:
# Hint - String is iterable

In [ ]:
s = input()

for char in s :
  print(char)

India
I
n
d
i
a

## Challenge 2:
- Given a string as input, print the first and the last character of the string.
- Input: "India"
- Output:
- I
- a

In [ ]:
# Indexing

In [ ]:
# s = 'India'
# s[1] - > n
# s[-2] -> i

In [ ]:
s = input()
print(s[0])
print(s[-1])

India
I
a

In [ ]:
# Strings are immutable
s[0] = 'i'

TypeError: ignored

In [ ]:
## Palindrome -> A string which reads the same from front and back

# India
# Reverse(India) -> aidnI
# India != aidnI
# India is not a palindrom

# level
# reverse(level) -> level
# level == level
# level is a palindrome

# Level is not a palindrome
# leveL
# Level != leveL
# Not a palindrome

In [ ]:
# Quiz

In [ ]:
# Which one of the following is a palindrome?
# a) radar
# b) level
# c) rahul

# ans -> Both a and b

In [ ]:
# Take a string as input and print whether its a palindrome

In [ ]:
s = input()

r = s[::-1]

if s == r :
  print("Palindrome")
else :
  print("Not palindrome")

rahul
Not palindrome

## Challenge 3:
- Take a string as input and print the ASCII value of the characters in it.

In [ ]:
s = 'India'
# Output
# 73
# 110
# 100
# 105
# 97

In [ ]:
s = input()

for c in s :
  print(ord(c))

India
73
110
100
105
97

In [ ]:
# Doubts

In [ ]:
# 1st part -> Transposing non square matrix

matrix = [
  [1, 2],
  [3, 4],
  [5, 6]
]

# [
#   [1, 3, 5],
#   [2, 4, 6]
# ]

In [ ]:
# 2nd part -> How to iterate over column

In [ ]:
for col in range(len(matrix[0])) :
  for row in range(len(matrix)) :
    print(matrix[row][col], end=' ')
  print()

# len(matrix) -> Gives number of rows
# len(matrix[0]) -> Gives number of cols

1 3 5
2 4 6

In [ ]:
# Pattern
# Even number colums - 0, 2, ...
# Print top-down
# Odd number columns - 1, 3, ...
# Print bottom-up


for col in range(len(matrix[0])) :
  if col % 2 == 0 :
    # Write logic to print top-down
    pass
  else :
    # Write logic to print bottom-up
    pass